
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;;
  }
.dashboard{
    font-size: large;
}
.dash:hover{
    color:white;
}
  

  
/* Change the link color on hover */
li a:hover {
    /*background-color: rgb(20, 18, 109);*/
    color: white;
    text-decoration: none;
}
body, html{ 
    width:100%; 
    height:100%; 
    padding: 0; 
    margin: 0;}
#Header{ 
    width:100%; 
    height: 56px; }
#Content{
    width: 250px; 
    height: calc(100% - 56px);
    background-color: #efefefe5;
    display: flex;
    float:left;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
ul li {
    margin: 50px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddde8;
    text-align: left;
    padding: 8px;
    
  }
 
  
  tr:nth-child(even) {
    background-color: #dddddde8;
  }
  .dash-btn{
    
    background-color: #663399;
    border: none;
    color: white;
    width: 12rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-left:2.5rem;
        
      
  }
  .dash-btn:hover{
      background-color: #492370;
  }
 b{
      color: #663399;
  }
.div-tab{
    padding: 2rem;
    clear:right;
    padding-left: 17rem;
    
   }
h2{
    padding: 1rem;
}
#add{
    margin-bottom: 3.5rem;
}
#right{
    margin-left: 46rem;
}
#button-submit{
    margin-top:3rem;
}
.dash{
    margin-left:2.5rem;
    font-size: large;
}
.del_edit_btn{
    width:210px;

}